USE [Interface_PUSH]
GO
/****** Object:  Table [dbo].[Attlog]    Script Date: 11/03/2021 09:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attlog](
	[PIN] [varchar](10) NOT NULL,
	[AttTime] [datetime] NOT NULL,
	[Status] [smallint] NULL,
	[Verify] [int] NULL,
	[WorkCode] [int] NULL,
	[Reserved1] [nchar](10) NULL,
	[Reserved2] [nchar](10) NULL,
	[MaskFlag] [nchar](10) NULL,
	[Temperature] [nchar](10) NULL,
	[DeviceID] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DevSN] [varchar](20) NULL,
	[DevName] [nchar](50) NULL,
	[AttLogStamp] [nchar](30) NULL,
	[OperLogStamp] [nchar](30) NULL,
	[AttPhotoStamp] [nchar](30) NULL,
	[ErrorDelay] [nchar](10) NULL,
	[Delay] [nchar](10) NULL,
	[TransFlag] [nchar](10) NULL,
	[Realtime] [nchar](10) NULL,
	[TransInterval] [nchar](30) NULL,
	[TransTimes] [nchar](10) NULL,
	[Encrypt] [nchar](10) NULL,
	[LastRequestTime] [datetime] NULL,
	[DevIP] [nchar](20) NULL,
	[DevMac] [nchar](50) NULL,
	[DevFirmwareVersion] [nchar](20) NULL,
	[UserCount] [int] NULL,
	[AttCount] [int] NULL,
	[TimeZone] [nchar](10) NULL,
	[Timeout] [int] NULL,
	[SyncTime] [int] NULL,
	[VendorName] [nchar](50) NULL,
	[IRTempDetectionFunOn] [nchar](10) NULL,
	[MaskDetectionFunOn] [nchar](10) NULL,
	[UserPicURLFunOn] [nchar](10) NULL,
	[MultiBioDataSupport] [nchar](50) NULL,
	[MultiBioPhotoSupport] [nchar](50) NULL,
	[MultiBioVersion] [nchar](50) NULL,
	[MultiBioCount] [nchar](50) NULL,
	[MaxMultiBioDataCount] [nchar](50) NULL,
	[MaxMultiBioPhotoCount] [nchar](50) NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceCmds]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCmds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DevSN] [varchar](50) NULL,
	[Content] [varchar](max) NULL,
	[CommitTime] [datetime] NULL,
	[TransTime] [datetime] NULL,
	[ResponseTime] [datetime] NULL,
	[ReturnValue] [varchar](max) NULL,
 CONSTRAINT [PK_DeviceCmds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ErrCode] [nchar](10) NULL,
	[ErrMsg] [nchar](300) NULL,
	[DataOrigin] [nchar](100) NULL,
	[CmdId] [nchar](10) NULL,
	[Additional] [nchar](100) NULL,
	[Stamp] [nchar](50) NULL,
	[DeviceId] [nchar](20) NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpLog]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceID] [nchar](50) NULL,
	[Operator] [nchar](50) NULL,
	[OpTime] [datetime] NULL,
	[User] [nchar](50) NULL,
	[Obj1] [nchar](100) NULL,
	[Obj2] [nchar](100) NULL,
	[Obj3] [nchar](100) NULL,
	[Obj4] [nchar](100) NULL,
 CONSTRAINT [PK_OpLogModel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMS]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SMSId] [int] NULL,
	[Type] [int] NULL,
	[BeginTime] [datetime] NULL,
	[ValidTime] [datetime] NULL,
	[Content] [nchar](100) NULL,
	[UserID] [nchar](10) NULL,
 CONSTRAINT [PK_SMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpBioData]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpBioData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[No] [varchar](10) NULL,
	[PIN] [varchar](10) NOT NULL,
	[Index] [varchar](10) NULL,
	[Valid] [varchar](10) NULL,
	[Duress] [nchar](10) NULL,
	[Type] [nchar](10) NULL,
	[MajorVer] [nchar](10) NULL,
	[MinorVer] [nchar](10) NULL,
	[Format] [nchar](10) NULL,
	[Tmp] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpBioData_CaraMtd]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpBioData_CaraMtd](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[No] [varchar](10) NULL,
	[PIN] [varchar](10) NOT NULL,
	[Index] [varchar](10) NULL,
	[Valid] [varchar](10) NULL,
	[Duress] [nchar](10) NULL,
	[Type] [nchar](10) NULL,
	[MajorVer] [nchar](10) NULL,
	[MinorVer] [nchar](10) NULL,
	[Format] [nchar](10) NULL,
	[Tmp] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpBioPhoto]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpBioPhoto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [varchar](10) NOT NULL,
	[FileName] [varchar](100) NULL,
	[Type] [varchar](10) NULL,
	[Size] [int] NULL,
	[Content] [varchar](max) NULL,
 CONSTRAINT [PK_TmpBioPhoto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpFace]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpFace](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [varchar](10) NOT NULL,
	[Fid] [varchar](10) NULL,
	[Size] [varchar](10) NULL,
	[Valid] [varchar](10) NULL,
	[Tmp] [varchar](max) NULL,
	[Ver] [varchar](10) NULL,
 CONSTRAINT [PK_TmpFace] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpFP]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpFP](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [varchar](10) NOT NULL,
	[Fid] [varchar](10) NOT NULL,
	[Size] [int] NULL,
	[Valid] [varchar](20) NULL,
	[Tmp] [varchar](max) NULL,
	[MajorVer] [varchar](20) NULL,
	[MinorVer] [varchar](20) NULL,
	[Duress] [varchar](10) NULL,
 CONSTRAINT [PK_TmpFP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpFVein]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpFVein](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [nchar](10) NOT NULL,
	[Fid] [nchar](10) NULL,
	[Index] [nchar](10) NULL,
	[Size] [int] NULL,
	[Valid] [nchar](10) NULL,
	[Tmp] [varchar](max) NULL,
	[Ver] [nchar](10) NULL,
	[Duress] [nchar](10) NULL,
 CONSTRAINT [PK_TmpFVein] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpUserPic]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpUserPic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [nchar](10) NOT NULL,
	[FileName] [nchar](100) NULL,
	[Size] [int] NULL,
	[Content] [varchar](max) NULL,
 CONSTRAINT [PK_TmpUserPic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINFO]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [varchar](10) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Pri] [varchar](50) NULL,
	[Passwd] [varchar](50) NULL,
	[IDCard] [varchar](50) NULL,
	[Grp] [varchar](50) NULL,
	[TZ] [varchar](50) NULL,
	[DevSN] [varchar](50) NULL,
 CONSTRAINT [PK_USERINFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkCode]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WorkCode] [nchar](10) NULL,
	[WorkName] [nchar](50) NULL,
 CONSTRAINT [PK_WorkCode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attlog] ([PIN], [AttTime], [Status], [Verify], [WorkCode], [Reserved1], [Reserved2], [MaskFlag], [Temperature], [DeviceID]) VALUES (N'800', CAST(N'2020-09-29T14:19:55.000' AS DateTime), 0, 25, 0, N'0         ', N'0         ', N'0         ', N'36.5      ', N'CKJF202560310       ')
INSERT [dbo].[Attlog] ([PIN], [AttTime], [Status], [Verify], [WorkCode], [Reserved1], [Reserved2], [MaskFlag], [Temperature], [DeviceID]) VALUES (N'800', CAST(N'2020-09-29T14:24:10.000' AS DateTime), 0, 25, 0, N'0         ', N'0         ', N'0         ', N'36.1      ', N'CKJF202560310       ')
INSERT [dbo].[Attlog] ([PIN], [AttTime], [Status], [Verify], [WorkCode], [Reserved1], [Reserved2], [MaskFlag], [Temperature], [DeviceID]) VALUES (N'800', CAST(N'2020-09-29T14:28:16.000' AS DateTime), 0, 25, 0, N'0         ', N'0         ', N'1         ', N'36.4      ', N'CKJF202560310       ')
GO
SET IDENTITY_INSERT [dbo].[Device] ON 

SET IDENTITY_INSERT [dbo].[Device] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceCmds] ON 

INSERT [dbo].[DeviceCmds] ([ID], [DevSN], [Content], [CommitTime], [TransTime], [ResponseTime], [ReturnValue]) VALUES (82, N'6141202460032', N'DATA UPDATE USERINFO PIN=1	Name=Solo huella	Pri=0	Passwd=	Card=	Grp=1	TZ=0000000100000000', CAST(N'2020-10-19T09:47:22.777' AS DateTime), CAST(N'2020-10-19T09:47:28.000' AS DateTime), CAST(N'2020-10-19T09:47:30.000' AS DateTime), N'ID=82&Return=0&CMD=DATA')
INSERT [dbo].[DeviceCmds] ([ID], [DevSN], [Content], [CommitTime], [TransTime], [ResponseTime], [ReturnValue]) VALUES (84, N'6141202460032', N'DATA UPDATE USERINFO PIN=2	Name=Solo Rostro	Pri=0	Passwd=	Card=	Grp=1	TZ=0000000100000000', CAST(N'2020-10-19T09:47:24.493' AS DateTime), CAST(N'2020-10-19T09:47:28.000' AS DateTime), CAST(N'2020-10-19T09:47:30.000' AS DateTime), N'ID=84&Return=0&CMD=DATA')
SET IDENTITY_INSERT [dbo].[DeviceCmds] OFF
GO
SET IDENTITY_INSERT [dbo].[TmpBioData] ON 

SET IDENTITY_INSERT [dbo].[TmpBioData] OFF
GO
SET IDENTITY_INSERT [dbo].[TmpBioPhoto] ON 

SET IDENTITY_INSERT [dbo].[TmpBioPhoto] OFF
GO
SET IDENTITY_INSERT [dbo].[TmpFP] ON 

SET IDENTITY_INSERT [dbo].[TmpFP] OFF
GO
SET IDENTITY_INSERT [dbo].[USERINFO] ON 

INSERT [dbo].[USERINFO] ([ID], [PIN], [UserName], [Pri], [Passwd], [IDCard], [Grp], [TZ], [DevSN]) VALUES (14, N'1', N'Solo huella', N'0', N'', N'', N'1', N'0000000100000000', N'1')
INSERT [dbo].[USERINFO] ([ID], [PIN], [UserName], [Pri], [Passwd], [IDCard], [Grp], [TZ], [DevSN]) VALUES (15, N'2', N'Solo Rostro', N'0', N'', N'', N'1', N'0000000100000000', N'1')
INSERT [dbo].[USERINFO] ([ID], [PIN], [UserName], [Pri], [Passwd], [IDCard], [Grp], [TZ], [DevSN]) VALUES (16, N'3', N'Solo Palma', N'0', N'', N'', N'1', N'0000000100000000', N'1')
SET IDENTITY_INSERT [dbo].[USERINFO] OFF
GO
/****** Object:  StoredProcedure [dbo].[spAddComando]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge León Cáceres
-- Create date: 12/11/2020
-- Description:	Inserta un comando a un reloj
-- =============================================
CREATE PROCEDURE [dbo].[spAddComando]
	-- Add the parameters for the stored procedure here
	@SN varchar(20),
	@Contenido varchar(MAX),
	@CommitTime datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Id as Int;
    -- Insert statements for procedure here
	INSERT INTO [DeviceCmds] ([DevSN],[Content],[CommitTime])
	VALUES (@SN, @Contenido, @CommitTime)
	SET    @Id = SCOPE_IDENTITY();
	SELECT @Id AS CmdID
END
GO
/****** Object:  StoredProcedure [dbo].[spAddReloj]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge León Cáceres
-- Create date: 11/11/2020
-- Description:	Crea un nuevo Device
-- =============================================
CREATE PROCEDURE [dbo].[spAddReloj]
	-- Add the parameters for the stored procedure here
	@Name nchar(50), 
	@Sn nchar(20),
	@Ip nchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Id as Int;
    -- Insert statements for procedure here
	INSERT INTO Device( DevName, DevSN, DevIP)
	VALUES (@Name, @Sn, @iP);
	SET    @Id = SCOPE_IDENTITY();   
    SELECT @Id AS DevId;  
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateComando]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge León Cáceres
-- Create date: 12/11/2020
-- Description:	Actualiza datos de respuesta de un comando
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateComando]
	-- Add the parameters for the stored procedure here
	@ID int,
	@TransTime Datetime,
	@ResponseTime Datetime,
	@Respuesta varchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	UPDATE [DeviceCmds] 
	SET [TransTime] = @TransTime,
	[ResponseTime] = @ResponseTime,
	[ReturnValue] = @Respuesta
	WHERE ID = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateReloj]    Script Date: 11/03/2021 09:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge León Cáceres
-- Create date: 11/11/2020
-- Description:	Actualiza el nombre de un Device
-- =============================================
CREATE PROCEDURE [dbo].[spUpdateReloj]
	-- Add the parameters for the stored procedure here
	@ID int,
	@Name nchar(50), 
	@Sn nchar(20),
	@Ip nchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Device
	SET DevName = @Name
	WHERE ID = @ID;
	
END
GO
